<div class="chat_list"><!-- MUST use active_chat class for active chat -->
  <div class="chat_people">
    <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
      <p>Test, which is a new approach to have all solutions 
        astrology under one roof.</p>
    </div>
  </div>
</div>