<div class="mesgs">
  <div class="msg_history" id="messages">
  </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <input type="text" id="msgBox" class="write_msg" placeholder="Type a message" />
      <button class="msg_send_btn" id="msgSend" type="button">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>