<%- include('partials/head', { cssFile: 'small-business.css' }) %> 
<%- include('partials/navigation/anonymous') %>
<!-- Page Content -->
<div class="container-fluid bg-secondary">
<div class="row py-5">
  <div class="col-md-12 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="card-title">Ubuntu Linux Server Basics</h2>
          <p class="card-text">Learn Ubuntu Server administration in 3 days with this step-by-step course for
            beginners.</p>
          <div class="text-small">
            <span class="d-block">
              <i class="fas fa-calendar mr-1"></i>
              <span class="mr-2">Start date <strong>04/05/2020</strong></span>
              <i class="fas fa-calendar mr-1"></i>
              <span class="mr-2">End date <strong>04/05/2020</strong></span>
            </span>
            <span class="d-block">
              <i class="fas fa-comment mr-2"></i>
              <span class="mr-2">English</span>
              <i class="fas fa-user-cog mr-2"></i>Teahcer <strong>Marco Trognoni</strong>
            </span>
          </div>
          <p class="mt-2 mb-0">
            <a class="btn btn-block btn-primary" href="signup.html">Join Now!</a>
          </p>
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="/img/course_linux.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container course">
<!-- Content Row -->
<div class="row my-3">
  <div class="col-md-12 mb-5">
    <h5>Requirements</h5>
    <ul>
      <li>For maximum learning, students will need access to an extra computer that can be used as an Ubuntu Linux
        Server. An old Desktop PC and/or laptop with a CD/DVD drive or a USB slot should be sufficient.
        Additionally, the student must have access to either a blank USB thumbdrive or a CD/DVD burner. Using these
        components to install Ubuntu Server will be covered in the course.</li>
    </ul>
    <h5>Description</h5>

    <p><strong></strong><strong>Linux is the fastest growing operating system <em>in the world</em>. Get the Ubuntu
        Server skills you need to succeed, in only 3 days.</strong>
    </p>
    <p>Let's be honest; technical books are boring. Sure, you could learn Ubuntu Linux server administration from
      some long-winded encyclopedia, but why waste all that time?</p>
    <p>If you want to increase your IT skills, this course is a great place to start. More and more companies are
      utilizing Linux servers in their day-to-day operations. <strong>So, don't be left behind!</strong></p>
    <p><strong>Wait, are you still reading this?! </strong>The course comes with a genuine 30 day, no hassles,
      money-back guarantee. So, there is absolutely nothing to risk here. <strong>Enroll today!</strong></p>
    <h5>Who this course is for:</h5>
    <ul class="audience__list">
      <li>This course is designed for beginners, especially users who have never installed or operated an Ubuntu
        Linux Server. The course is designed to take students step-by-step through the process of installing and
        configuring a server from scratch. No experience with Linux or other server environments is necessary.
        Intermediate users are encouraged to enroll at their own discretion. For example, if they are in need of a
        basic knowledge of RAID, SSH, Samba, cron jobs, and/or Apache. Advanced users will already know how to use
        such features and are therefore discouraged from enrolling in this course.</li>
    </ul>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<%- include('partials/footer') %>